<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Details</h1>
    <li><td>Name</td><td><%= name %></td></li> 
    <li><td>Email</td><td><%= email %></td></li> 
    <li><td>Password</td><td><%= password %></td></li> 
    xxxxxxxxxxxx
    <form method="POST">
        <label for="name">Enter Name</label>
        <input type="text" name="name" id="name"/><br/><br/>
        <label for="email">Enter Email</label>
        <input type="email" name="email" id="email"/><br/><br/>
        <label for="password">Enter Password</label>
        <input type="password" name="password" id="password"/><br/><br/>
        <button type="submit">Udate USER</button>
    </form>


    <!-- xxxxxxxxxxxx
    <form method="DELETE">
        <label for="email">Enter Email</label>
        <input type="email" name="email" id="email"/><br/><br/>
        <button type="submit">Delete</button>
    </form> -->


    
</body>
</html>